/* Import Google Fonts - exact match to original */
@import url(https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&family=Roboto:wght@400;700&display=swap);

/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s,
samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Base Styles */
body {
    color: #000;
    font-size: 17px;
    font-family: 'Roboto', serif;
    background: #FFF;
    line-height: 165%;
}

a {
    color: #0194CA;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #0B9CA1;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 8px;
    color: #000;
}

h1 { font-size: 28px; }
h2 { font-size: 20px; }
h3 { font-size: 18px; }
h4 { font-size: 15px; }

p { margin-bottom: 15px; }

img, video {
    max-width: 100%;
    height: auto;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix { display: block; }

/* Header */
div.topheader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1008;
}

#header_wrapper {
    position: relative;
    z-index: 1008;
    background-color: #FFF;
}

#header {
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.logo_wrap {
    float: left;
    display: block;
    margin: 0;
}

#logo {
    display: block;
    vertical-align: middle;
}

#logo a {
    margin: 0;
    display: block;
}

#logo img {
    display: block;
    height: 85px;
    width: auto;
}

/* Header Contact Region */
#header .region {
    float: right;
    margin: 0;
    vertical-align: top;
    font-size: 16px;
}

.region-contact-no .content table {
    background: #FFF none repeat scroll 0 0;
    border: none;
    margin-bottom: 0;
}

.region-contact-no .content table td {
    background: #fff none repeat scroll 0 0;
    border: none;
    color: #000;
    padding: 8px 35px;
    text-align: left;
    vertical-align: top;
    line-height: 1.6em;
    font-size: 15px;
}

.region-contact-no h2 {
    font-weight: bold;
    color: #000;
    font-size: 16px;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
    gap: 12px;
}

.region-contact-no h2 img {
    width: 45px;
    height: auto;
    float: none !important;
    margin: 0 !important;
}

.region-contact-no h4 {
    font-size: 15px;
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
    text-transform: uppercase;
}

/* Buttons */
a.button:link, a.button:visited {
    background: #424242;
    color: #FFF;
    text-decoration: none;
    border-radius: 3px;
    padding: 10px 20px;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
}

a.button:hover {
    background: #d7002a;
    color: #FFF;
}

a.button2:link, a.button2:visited {
    background: #d7002a;
    color: #FFF;
    text-decoration: none;
    border-radius: 3px;
    padding: 10px 20px;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
}

a.button2:hover {
    background: #424242;
    color: #FFF;
}

.region-contact-no a.button,
.region-contact-no a.button2 {
    margin-top: 10px;
}

/* Open/Closed Status */
#open_or_closed {
    font-weight: bold;
}

.open { color: #64c347; }
.closed { color: #e22524; }

/* Navigation Menu */
.menu-wrap {
    top: 0;
    z-index: 99;
    width: 100%;
    background: #d7002a;
}

.full-wrap {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main-menu {
    position: relative;
    float: left;
}

#main-menu ul {
    float: left;
    padding: 0;
    margin: 0;
}

#main-menu li {
    position: relative;
    display: inline-block;
    zoom: 1;
    vertical-align: top;
    float: left;
}

#main-menu a {
    padding: 23px 35px;
    display: block;
    text-decoration: none;
    color: #FFF;
    line-height: 100%;
    white-space: nowrap;
    text-transform: uppercase;
    border-right: none;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

#main-menu li.leaf.last a { border-right: none; }

#main-menu li:hover > a {
    background: #ac0022;
}

/* Dropdown Menus */
#main-menu li ul {
    display: none;
    position: absolute;
    z-index: 9999;
    padding: 0;
    margin: 0;
    background: #333;
    top: 66px;
    overflow: visible !important;
}

#main-menu li:hover > ul {
    display: block;
}

#main-menu li li {
    float: none;
    min-width: 150px;
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
}

#main-menu li li a {
    min-width: 220px;
    margin: 0;
    border-bottom: 1px solid #525252;
    text-align: left;
    overflow: hidden;
    padding: 18px 24px;
    color: #DEDEDE;
    font-size: 18px;
    border-right: 0;
}

#main-menu li li:hover > a {
    color: #fff;
    background-color: #222;
}

/* Mobile Toggle */
#main-menu .nav-toggle {
    display: none;
    padding: 16px 22px;
    color: #FFF;
    font-size: 13px;
    text-transform: uppercase;
}

/* Social Icons */
.social-icons {
    text-align: right;
    float: none;
    margin: 0;
    display: flex;
    align-items: center;
}

.social-icons ul {
    margin: 0;
    display: flex;
    gap: 5px;
}

.social-icons li {
    display: inline-block;
}

.social-icons li a {
    width: 46px;
    height: 46px;
    color: #FFF;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: #424242;
    border-radius: 4px;
    border: none;
    line-height: 100%;
    text-align: center;
    font-size: 23px;
}

.social-icons li a:hover {
    background: #333;
    color: #FFF;
}

/* Slideshow */
.slideshow {
    position: relative;
    margin-top: 175px;
}

.slider-wrapper {
    position: relative;
    width: 100%;
}

#slider {
    background: transparent;
    position: relative;
    box-shadow: none;
    overflow: hidden;
    width: 100%;
}

#slider img.slide {
    width: 100%;
    display: none;
}

#slider img.slide.active {
    display: block;
}

/* Slide Caption */
.nivo-html-caption {
    display: none;
}

.slidecap {
    padding: 35px 45px;
    background: rgba(0, 0, 0, 0.55) none repeat scroll 0 0;
    text-align: center;
}

.slidecap h1 {
    font-size: 36px;
    color: #fff;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.slidecap p {
    padding: 0px;
    background: none;
    font-size: 18px;
    color: #fff;
    margin-bottom: 15px;
    line-height: 1.6;
}

.slidecap a:link, .slidecap a:visited {
    padding: 14px 28px;
    color: #FFF;
    background-color: #d7002a;
    text-decoration: none;
    border-bottom: none;
    margin: 15px 0 0 0;
    border-radius: 3px;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.slidecap a:hover {
    background-color: #ac0022;
}

/* Caption Display Container */
.caption-display {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    max-width: 70%;
    font-size: 16px;
    height: auto;
    line-height: 150%;
    text-align: center;
    z-index: 10;
}

/* Slider Direction Nav */
.nivo-directionNav {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 6;
    pointer-events: none;
}

.nivo-prevNav, .nivo-nextNav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: .85 !important;
    background: rgba(255, 255, 255, 0.9);
    height: 50px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    font-size: 0;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    pointer-events: auto;
}

.nivo-prevNav::before {
    content: '\f053';
    font-family: 'FontAwesome';
    font-size: 18px;
    color: #333;
}

.nivo-nextNav::before {
    content: '\f054';
    font-family: 'FontAwesome';
    font-size: 18px;
    color: #333;
}

.nivo-prevNav {
    left: 0;
}

.nivo-nextNav {
    right: 0;
    left: auto;
}

.nivo-prevNav:hover, .nivo-nextNav:hover {
    opacity: .7 !important;
    background: #FFF;
}

/* Main Content */
#container {
    clear: both;
    overflow: hidden;
    padding: 10px 0;
}

.container-wrap {
    max-width: 100%;
    margin: 0px auto;
    overflow: hidden;
    padding: 0 30px;
}

.content-sidebar-wrap {
    float: left;
    width: 100%;
}

.content-sidebar-wrap #content {
    display: inline;
    margin-bottom: 10px;
    float: right;
    width: 100%;
}

.page-title {
    font-size: 32px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #333;
    font-weight: 700;
    line-height: 1;
    display: none;
}

/* Footer */
#footer {
    overflow: hidden;
    clear: both;
}

/* Brand Links Bar */
.links {
    color: #000;
    margin-top: 30px;
    padding: 20px 0;
}

#footer .links table,
.links table {
    background: #FFF none repeat scroll 0 0;
    border: none;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

#footer .links td,
.links td {
    background: #fff none repeat scroll 0 0;
    border: none;
    color: #000;
    padding: 15px 20px;
    text-align: center;
}

.links img {
    max-height: 55px;
    width: auto;
    transition: opacity 0.3s;
}

.links a:hover img {
    opacity: 0.7;
}

/* Footer Credit */
.footer_credit {
    border-top: none;
    padding: 10px 0;
    color: #FFF;
    background-color: #424242;
}

.footer_credit .copyright {
    float: none;
    padding: 12px 0;
    font-size: 14px;
    text-align: center;
}

.copyright a {
    color: #FFF;
}

.credits {
    padding: 0;
    font-size: 11px;
    text-align: center;
    color: #FFF;
    background-color: #363535;
}

/* Modal */
#modal {
    left: 50%;
    margin: -150px 0 0 -2%;
    opacity: 0;
    position: absolute;
    top: -50%;
    visibility: hidden;
    width: 40%;
    box-shadow: 0 3px 7px rgba(0,0,0,.25);
    box-sizing: border-box;
    transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
}

#modal:target {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.modal-content {
    background: #34BC9D;
    position: relative;
    z-index: 20;
    border-radius: 5px;
    color: #fff;
}

#modal .copy {
    background: #000;
    padding: 10px;
    color: #fff;
    margin-top: 55px;
}

#modal .overlay {
    background-color: #000;
    background: rgba(0,0,0,.8);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    margin-top: 55px;
}

.copy a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #424242;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

/* h4 link styles */
h4 a:link, h4 a:visited {
    font-weight: normal;
    color: #424242;
    text-decoration: none;
}

h4 a:hover {
    text-decoration: underline;
}

/* Services List */
.services-list {
    list-style: disc;
    margin: 20px 0 20px 25px;
}

.services-list li {
    padding: 5px 0;
}

.content-body p {
    margin-bottom: 15px;
}

.content-body a {
    color: #d7002a;
    font-weight: 600;
}

.content-body a:hover {
    text-decoration: underline;
}

/* Services Page */
.services-page {
    margin-top: 175px;\n}
}

.services-page #container {
    padding: 30px 0;
}

/* Services Grid */
.services-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    max-width: 1170px;
    margin: 0 auto;
    padding: 20px;
}

.service-card {
    background: #f5f5f5;
    border: 1px solid #e0e0e0;
    padding: 30px 25px;
    text-align: center;
    transition: all 0.3s ease;
    border-radius: 3px;
}

.service-card:hover {
    background: #fff;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    transform: translateY(-3px);
}

.service-icon {
    width: 80px;
    height: 80px;
    margin: 0 auto 20px;
    background: #d7002a;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-icon i {
    font-size: 36px;
    color: #fff;
}

.service-card h3 {
    font-size: 16px;
    color: #333;
    margin-bottom: 12px;
    font-family: 'Roboto Slab', serif;
    font-weight: 900;
    line-height: 1.3;
}

.service-card p {
    font-size: 15px;
    color: #666;
    line-height: 1.5;
    margin: 0;
}

/* About Page */
.about-page {
    margin-top: 175px;
}

.about-page #container {
    padding: 40px 0;
}

.about-content {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.about-content h1 {
    font-size: 36px;
    color: #d7002a;
    margin-bottom: 30px;
    text-align: center;
}

.about-intro {
    background: #f5f5f5;
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.about-intro h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}

.about-intro p {
    font-size: 17px;
    line-height: 1.7;
    color: #555;
}

.about-section {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.about-section:last-child {
    border-bottom: none;
}

.about-section h3 {
    font-size: 22px;
    color: #333;
    margin-bottom: 15px;
}

.about-section p {
    font-size: 16px;
    line-height: 1.7;
    color: #555;
    margin-bottom: 15px;
}

.about-section a {
    color: #d7002a;
    font-weight: 600;
}

.about-section a:hover {
    text-decoration: underline;
}

.about-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.about-list li {
    padding: 12px 0;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    line-height: 1.6;
    color: #555;
}

.about-list li:last-child {
    border-bottom: none;
}

.about-list li strong {
    color: #333;
}

/* Responsive About Page */
@media (max-width: 992px) {
    .about-page {
        margin-top: 0;
    }
}

/* Responsive Services Grid */
@media (max-width: 992px) {
    .services-page {
        margin-top: 0;
    }
    
    .services-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .services-grid {
        grid-template-columns: 1fr;
        padding: 15px;
        gap: 15px;
    }
    
    .service-card {
        padding: 25px 20px;
    }
}

/* Active nav state */
#main-menu a.active {
    background: #ac0022;
}

/* Responsive Styles */
@media (max-width: 1200px) {
    #header .region {
        min-width: auto;
        width: 100%;
        float: none;
    }
    
    #header {
        text-align: center;
    }
    
    .logo_wrap {
        float: none;
        display: block;
        text-align: center;
    }
    
    #logo {
        display: inline-block;
    }
}

@media (max-width: 992px) {
    .slideshow {
        margin-top: 0;
    }
    
    div.topheader {
        position: relative;
    }
    
    .region-contact-no .content table td {
        display: block;
        width: 100%;
        text-align: center;
        padding: 15px 10px;
        border-bottom: 1px solid #eee;
    }
    
    .region-contact-no .content table tr {
        display: block;
    }
    
    #main-menu .nav-toggle {
        display: block;
        cursor: pointer;
    }
    
    .menu-navigation-container {
        display: none;
        width: 100%;
        clear: both;
    }
    
    .menu-navigation-container.active {
        display: block;
    }
    
    #main-menu ul {
        float: none;
        width: 100%;
    }
    
    #main-menu li {
        float: none;
        display: block;
    }
    
    #main-menu a {
        border-right: none;
        border-bottom: 1px solid #ac0022;
    }
    
    #main-menu li ul {
        position: static;
        display: none;
        background: #222;
    }
    
    #main-menu li.open > ul {
        display: block;
    }
    
    .social-icons {
        float: none;
        text-align: center;
        padding: 10px 0;
    }
    
    .caption-display {
        width: 90%;
        left: 5%;
        margin-left: 0;
        top: 10%;
    }
    
    .slidecap h1 {
        font-size: 20px;
    }
    
    .slidecap p {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .links td {
        display: inline-block;
        width: 33.33%;
        padding: 10px 5px;
    }
    
    .links table tr {
        display: block;
    }
    
    .slidecap {
        padding: 15px;
    }
    
    .slidecap h1 {
        font-size: 18px;
    }
    
    .slidecap p {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .links td {
        width: 50%;
    }
    
    .caption-display {
        top: 5%;
    }
    
    .slidecap h1 {
        font-size: 14px;
    }
    
    .slidecap p {
        font-size: 11px;
        display: none;
    }
    
    .slidecap a {
        padding: 5px 10px;
        font-size: 12px;
    }
}
